<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/app.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NKR | CARDS</title>
</head>
<body>
    <div class="container">
        <div class="card">
          
          <div class="imgBx">
            <img src="https://sun9-48.userapi.com/impg/7ISeKl1w8iDRtoBdS7CDk5Vv1i_n2o_jEcb1NQ/s_Au09Ydezc.jpg?size=1620x2160&quality=95&sign=89262d7ec5d523200b7e43e920abf3e3&type=album">
          </div>
          
          <div class="contentBx">
            <h2>test name</h2>
            <div class="size">
              <h3>links:</h3>
              {{data | safe}}
            </div>
            <div class="color">
              <h3>Color :</h3>
              <span onclick=""></span>
              <span></span>
              <span></span>
            </div>
            <a href="#" class="like">Like!
              <!-- пост запрос на увеличение счетчика +1 -->
            </a>
          </div>
        </div>
      </div>    
</body>
</html>